<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>[[PRODUCTNAME]] ユーザーマニュアル</title>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- favicon -->
        <link href="../img/favicon.ico" rel="shortcut icon"/>

        <!-- Bootstrap -->
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        
        <!-- Stylesheets -->
        <link href="../manual.css" rel="stylesheet" media="screen">

	<!-- Font Awsome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

	<!-- Google search script -->
	<script async src="https://cse.google.com/cse.js?cx=d28d4d10e87c6439f"></script>

        <!-- META -->
        <meta name="keywords" content="digital signage, デジタルサイネージ, signage, サイネージ, sigme, xibo, open source, オープンソース, agpl, documentation, マニュアル" />
        <meta name="description" content="[[PRODUCTNAME]] は、オープンソースのデジタルサイネージソリューションです。主要なメディアタイプをすべてサポートし、CSV、データベース、RSSを使用して他のデータソースと連動させることができます。" />
    </head>
    <body data-toc="[[TOCNAME]]">
        <!-- Copyright 2020 Xibo Signage Ltd. Part of the Xibo Open Source Digital Signage Solution. Released under the AGPLv3 or later. And Portion Copyright 2025 Open Source Digital Signage Initiative. -->
        <nav id="top-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <img class="img-responsive logo leftflush header-logo" src="../img/sigme.png" alt="[[PRODUCTNAME]]" style="margin-right:20px"/>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ss-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="ss-navbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"> ユーザーマニュアル</a></li>
<!--
                        <li><a href="/admin-manual/ja/"> 管理者マニュアル</a></li>
                        <li><a href="/dev-manual/ja/"> 開発者マニュアル</a></li>
                        <li><a href="/creator-guide/ja/"> クリエーターガイド</a></li>
			<li><div class="fill-space">&nbsp;></div></li>
-->
                        <li class="navbar-right"><div class="gcse-search"></div></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="ss_body container">
            <div class="row">
                <div class="col-md-3">
                    <ul id="side-nav" class="nav nav-pills nav-stacked">
                        [[NAVBAR]]
                    </ul>
                </div>
                <div class="col-md-7" role="main">
                    [[PAGE]]
                </div>
                <div class="col-md-2" role="toc">
                    <div class="toc_container">
                        [[TOC]]
                        <button id="open-popup">AIアシスタント</button>
                    </div>
                    <script>
                        document.getElementById('open-popup').addEventListener('click', () => {
                        const popupWidth = 400;
                        const popupHeight = 600;

                        // 親ウィンドウのサイズと位置を取得
                        const parentWindow = window.opener || window; // 親ウィンドウを取得
                        const parentWidth = parentWindow.innerWidth;
                        const parentHeight = parentWindow.innerHeight;
                        const parentLeft = parentWindow.screenX || parentWindow.screenLeft || 0;
                        const parentTop = parentWindow.screenY || parentWindow.screenTop || 0;

                        // ポップアップウィンドウの表示位置を計算
                        const left = parentLeft + parentWidth - popupWidth;
                        const top = parentTop + parentHeight - popupHeight;

                        // ポップアップウィンドウを開く
                        window.open('../ai/ai_assistant.html', 'popup', `width=${popupWidth},height=${popupHeight},left=${left},top=${top},menubar=no,toolbar=no,location=no,status=no,resizable=yes,scrollbars=no`);
                        });
                    </script>
                </div>
            </div>
        </div> <!-- container-->
